  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  .WebsiteInfo {
    background-color: aqua;
  }

  .Navigationbar {
    background-color: bisque;
  }

  .WebsiteContent > .left {
    background-color: red;
    float:left
  }

  .WebsiteContent > .right {
    background-color: azure;
  }

  .Websitefooter {
    background-color: brown;
  }